/* About container */
.about {
  padding: 80px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
}

/* Small subtitle */
.about-subtitle {
  font-size: 18px;
  color: #00c896;
  margin-bottom: 10px;
  text-transform: uppercase;
}

/* Main title */
.about-title {
  font-size: 38px;
  font-weight: 700;
  max-width: 650px;
  margin-bottom: 20px;
  color: #222;
}

/* Paragraph text */
.about-text {
  max-width: 650px;
  font-size: 16px;
  line-height: 1.7;
  color: #555;
  margin-bottom: 15px;
}

/* Hire Me button */
.about-button {
  margin-top: 20px;
  padding: 12px 28px;
  font-size: 15px;
  font-weight: 500;
  background-color: #111;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.about-button:hover {
  background-color: #00c896;
}
/* About image container */
/* Image container */
.about-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Circular image like screenshot */
.about-image img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #00c896;
}

@media (max-width: 900px) {
  .about {
    flex-direction: column;
    text-align: center;
  }

  .about-image img {
    margin-top: 30px;
  }
}
