/* Resume container */
.resume {
  padding: 80px;
  background-color: #ffffff;
}

/* Title */
.resume-title {
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 30px;
  color: #222;
}

/* Buttons wrapper */
.resume-buttons {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

/* Buttons */
.resume-btn {
  padding: 10px 25px;
  font-size: 15px;
  background-color: transparent;
  border: 2px solid #00c896;
  color: #00c896;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.resume-btn:hover {
  background-color: #00c896;
  color: white;
}

/* Active button */
.resume-btn.active {
  background-color: #00c896;
  color: white;
}

/* Content area */
.resume-content {
  margin-bottom: 40px;
}

/* Download resume button */
.resume-download {
  padding: 12px 30px;
  font-size: 15px;
  background-color: #111;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.resume-download:hover {
  background-color: #00c896;
}
/* Wrapper for side-by-side layout */
.resume-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Make text take left space */
.resume-content {
  flex: 1;
}

/* Push image to the right */
.resume-image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.resume-image img {
  max-width: 500px;

}
